
nextflow.enable.moduleBinaries = true

plugins {
  id 'nf-schema@2.4.1'
}
validation.help.enabled = true

includeConfig 'conf/orgs_flags.config'

profiles {
    standard {
        docker {
            enabled = true
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }

    hpc {
        apptainer {
            enabled = true
            runOptions = "-B/scratch -B/srv/beegfs/scratch/users -B${System.getenv('HOME')}"
            autoMounts = true
            cacheDir = "${System.getenv('HOME')}/scratch/singularity"
            pullTimeout = '1h'
        }

        process {
            executor = "slurm"
            queue = 'shared-cpu'
        }
    }
    
    longtime {
    		process {
    			withName: '.*_HYBRACTER' {
    				time = '10h'
    			}
    		}
    }
    
    arm64 {
        docker {
            enabled = true
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
        
    		process {
    			withName: 'MEDAKA_.*' {
    				container = 'docker.io/ontresearch/medaka:shac4e11bfa4e65668b28739ba32edc3af12baf7574-arm64'
    			}
    		}
    }
}


process.errorStrategy = 'ignore'
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]



manifest {
    name            = 'amr-genomics/nf-amr'
    contributors    = [
        [
            name: 'Julien Prados',
            affiliation: '',
            email: '',
            github: '',
            contribution: ['author', 'maintainer'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: ''
        ],
    ]
    homePage        = 'https://gitlab.unige.ch/nf-amr'
    description     = 'Annotation of AMR bacterial genomes.'
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=24.10.4'
    version         = 'v0.1'
    doi             = ''
}

