
nextflow.enable.moduleBinaries = true

manifest {
    name            = 'amr-genomics/nf-amr'
    author          = 'Julien Prados, Fedor Bezrukov'
    homePage        = 'https://gitlab.unige.ch/nf-amr'
    description     = 'Annotation of AMR bacterial genomes.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=24.10.4'
    version         = 'v0.1'
}


params {
	run_prokka = true
	input = 'data/*.fasta'
}

includeConfig 'conf/orgs_flags.config'

profiles {
    standard {
        docker {
            enabled = true
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }

    // using singularity instead of docker
    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
    }
    
    hpc {
        singularity {
            enabled = true
            runOptions = "-B/scratch"
            autoMounts = true
        }
    
        process {
            executor = "slurm"
            queue = 'shared-cpu'
            time = '4h'
        }
    }
}

// Set container to use
process {
    withLabel: Rscript {
        container = "registry.gitlab.unige.ch/amr-genomics/fatools:main"
    }
}

