/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for organism flags to use
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines command line arguments to use depending on the detected organism.
----------------------------------------------------------------------------------------
*/

params {
    organisms {
    		'Acinetobacter baumannii' {
    				cgemlst_args = '--species abaumannii'
    		}
    		
				'Citrobacter amalonaticus' {
			      cgemlst_args = '--species cfreundii'
				}

        'Citrobacter braakii' {
        		cgemlst_args = '--species cfreundii'
        }
        'Citrobacter freundii' {
        		cgemlst_args = '--species cfreundii'
        }
				'Citrobacter murliniae' {
						cgemlst_args = '--species cfreundii'
				}
				'Citrobacter portucalensis' {
						cgemlst_args = '--species cfreundii'
				}
				'Citrobacter sedlakii' {
						cgemlst_args = '--species cfreundii'
				}
				'Citrobacter werkmanii' {
						cgemlst_args = '--species cfreundii'
				}
				
				
				'Enterobacter asburiae' {
						cgemlst_args = '--species ecloacae'
				}
				'Enterobacter cloacae' {
						cgemlst_args = '--species ecloacae'
				}
        'Enterobacter hormaechei' {
            cgemlst_args = '--species ecloacae'
        }
				'Enterobacter kobei' {
						cgemlst_args = '--species ecloacae'
				}
				'Enterobacter mori' {
						cgemlst_args = '--species ecloacae'
				}


        'Escherichia coli str. K-12 substr. MG1655' {
            cgemlst_args = '--species ecoli'
        }


				'Klebsiella africana' {
				    cgemlst_args = '--species kpneumoniae'
				}
        'Klebsiella pneumoniae subsp. pneumoniae HS11286' {
        		cgemlst_args = '--species kpneumoniae'
        }
				'Klebsiella quasipneumoniae' {
						cgemlst_args = '--species kpneumoniae'
				}
				'Klebsiella variicola subsp. variicola' {
						cgemlst_args = '--species kpneumoniae'
				}
				

				'Staphylococcus aureus subsp. aureus NCTC 8325' {
						cgemlst_args = '--species saureus'
				}
				
				
				'Enterococcus faecalis' {
						cgemlst_args = '--species efaecalis'
				}
				'Enterococcus faecium' {
						cgemlst_args = '--species efaecium'
				}
				
				'Salmonella enterica subsp. enterica serovar Typhimurium str. LT2' {
						cgemlst_args = '--species senterica'
				}
				
   }
}

