/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for organism flags to use
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines command line arguments to use depending on the detected organism.
----------------------------------------------------------------------------------------
*/

params {
    organisms {
        'Klebsiella pneumoniae subsp. pneumoniae HS11286' {
        		mlst_flags          = "--species kpneumoniae"
        		plasmidfinder_flags = "-d enterobacteriales"
        		prokka_flags        = "--kingdom Bacteria"
        }
        'Enterobacter hormaechei' {
            mlst_flags          = "--species ecloacae"
            plasmidfinder_flags = "-d enterobacteriales"
            prokka_flags        = "--kingdom Bacteria"
        }
        'Escherichia coli str. K-12 substr. MG1655' {
            mlst_flags          = "--species ecoli"
            plasmidfinder_flags = "-d enterobacteriales"
            prokka_flags        = "--genus Escherichia"
        }
        'Citrobacter freundii' {
        		mlst_flags          = "--species cfreundii"
        		plasmidfinder_flags = "-d enterobacteriales"
        		prokka_flags        = "--kingdom Bacteria"
        }
        
   }
}

