/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for organism flags to use
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines command line arguments to use depending on the detected organism.
----------------------------------------------------------------------------------------
*/

params {
    organisms {
        'Klebsiella pneumoniae subsp. pneumoniae HS11286' {
        		mlst_args          = '--species kpneumoniae'
        }
        'Enterobacter hormaechei' {
            mlst_args          = '--species ecloacae'
        }
        'Escherichia coli str. K-12 substr. MG1655' {
            mlst_args          = '--species ecoli'
        }
        'Citrobacter freundii' {
        		mlst_args          = '--species cfreundii'
        }
        
   }
}

